/* Ensure the HTML and body take up full height */
html, body {
    height: 1980px;
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color: black;
    color: white;
    overflow: hidden;
}

.grid-container {
    /* margin-top: 15px; */
    display: grid;
    grid-template-columns: 2fr 1fr; /* First column is twice the width of the second */
    grid-template-rows: repeat(5, 1fr); /* Create 5 equal rows */
    gap: 10px; /* Space between columns */
}

.column {
    display: flex;
    flex-direction: column; /* Stack rows vertically in each column */
    gap: 10px; /* Space between rows */
    padding: 10px;
}

/* 
.column-1 {
    background-color: #e0f7fa;
}

.column-2 {
    background-color: #fce4ec;

} */

.row {
    /* background-color: #ffffff; */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data {
    display: flex;
    flex-direction: column;
}

.timestamp {
    font-size: .75rem;
    letter-spacing: .025em;
    color: rgb(95,99,104);
    padding: 0;
    margin: 0;
}

.symbol {
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.price-container {
    font-size: 1em;
    padding: 10px 0;
}

.green-text {
    color: rgb(43, 189, 43);
}

.red-text {
    color: rgb(224, 27, 27);
}

.stock-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.job-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.stock-card {
    display: flex;
    flex-direction: column;
    background-color: #111;
    margin: 10px;
    width: calc(33.33% - 20px); /* Adjust for 3 cards per row, considering margins */
}

.job-card {
    display: flex;
    flex-direction: column;
    background-color: #111;
    margin: 10px;
}

.job-title {
    font-size: 1.2rem;
    color: rgb(226, 49, 49);
}

.job-salary {
    color: green;
}

.job-company {
    font-size: .9rem;
}


.job-company, .job-salary, .stock-price, .stock-change {
    padding: 5px 0;
}

.job-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px; /* Add a 10px gap under the job image */
}

#current-time {
    font-family: 'Digital-7', monospace;
    font-size: 4rem;
    color: #00ff00;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.7);
    letter-spacing: 2px;
    width: 100%; /* Make it full width of the row */
    box-sizing: border-box; /* Include padding in the width calculation */
    text-align: center; /* Center the text within the full width */
}

@font-face {
    font-family: 'Digital-7';
    src: url('/static/fonts/digital-7.ttf') format('truetype');
}

.sensor-data {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    justify-content: space-between;
    height: 50px;
    margin: 10px;
}

.sensor-data img {
    height: 90%;
    display: block;
    margin: auto;
}

.sensor-data-value {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100%;
    padding-left: 10px;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    padding: 20px 10px 20px 10px;
}

#bottom-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Make it full width */
    box-sizing: border-box; /* Include padding and border in the width */
    text-align: center; /* Center the text */
}

#system_info {
    font-size: 1.2rem;
}