[Unit]
Description=MM2 Flask Application
After=network.target

[Service]
ExecStart=/home/arvypi/venvs/venv-mm2/bin/python /home/arvypi/GIT/mm2/app.py
WorkingDirectory=/home/arvypi/GIT/mm2
Restart=always

[Install]
WantedBy=multi-user.target
