/* Ensure the HTML and body take up full height */
html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* First column is twice the width of the second */
    grid-template-rows: repeat(5, 1fr); /* Create 5 equal rows */
    height: 100vh; /* Full viewport height */
    gap: 10px; /* Space between columns */
    padding: 10px; /* Padding around the container */
}

.column {
    display: flex;
    flex-direction: column; /* Stack rows vertically in each column */
    gap: 10px; /* Space between rows */
    padding: 10px;
}

/* Specific styles for first column */
.column-1 {
    background-color: #e0f7fa; /* Light cyan for visual distinction */
}

/* Specific styles for second column */
.column-2 {
    background-color: #fce4ec; /* Light pink for visual distinction */
}

.row {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stock-chart {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.data {
    display: flex;
    flex-direction: column;
}

.timestamp {
    width: 100%;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .025em;
    font-weight: 400;
    color: rgb(95,99,104);
}

.symbol {
    font-size: 1.5rem;
    font-weight: 400;
}

.price {
    line-height: 2.75rem;
    font-size: 2.25rem;
    letter-spacing: 0;
    font-weight: 400;
    margin-right: 5px;

}

.change {
    font-size: 1rem;
    font-weight: 500;
    width: min-content;
    margin-right: 5px;
}

.change-percent {
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: .00625em;
    font-weight: 500;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}