<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <title>MM2</title>
</head>

<body>
    <div class="row">
        <div id="quote"></div>
    </div>
    <div class="grid-container">
        <div class="column column-1">
            <div id="weather-container">
                <div class="row weather-widget">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/55d7824d29/bernatoniai/" data-label_1="BERNATONIAI" data-label_2="WEATHER" data-theme="weather_one">BERNATONIAI WEATHER</a>
                </div>
            </div>
            <div id="stock_data" class="row"></div>
        </div>
        <div class="column column-2">
            <div class="row" id="current-time"></div>
            <div class="row" id="sensor_data"></div>
            <div class="row" id="rescuetime_data"></div>
            <div id="cvbankas_jobs" class="row"></div>
        </div>
    </div>
    <div id="bottom-content">
        <div class="row" id="system_info"></div>
    </div>
    <script type="module" src="/static/js/main.js"></script>
</body>

</html>